.main-content .triphistory-container .history-box .form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main-content .triphistory-container .history-box .form-container .ABC_Logo{
    position: absolute;
    width: 350px;
    height: 250px;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0 , 0.411);
}

